/* artits ---------*/
#artists_container {
    height: auto;
    /* border: solid red 2px; */
}

.artists_container {
    /* border: solid red 2px; */
    display: flex;
    flex-direction: row;
    
    position: relative;
    margin-top: 100px;
    margin-bottom: 30px;
}

#Array_artists {
    /* border: solid red 2px; */
    display: flex;
    flex-wrap: wrap;

}
.artist {
    /* border: solid rgba(168, 168, 168, 0.418) 2px;
    box-shadow: 2px 2px 20px #0000004b; */

    /* border: solid red 2px; */
    position: relative;
    /* margin-top: 100px; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;

    position: relative;
}
    .artist img {
        width: 200px;
        border-radius: 10%;
        transition: all .3s cubic-bezier(.215, .61, .355, 1);
    }
    .artist h3 {
        margin-top: 10px;
        color: white;
    }



.artist img:hover {
    scale: 1.01;
    border-radius: 25%;
    transition: all .3s cubic-bezier(.215, .61, .355, 1);
}


#more_playlist #Array_artists {
    /* border: solid red 2px; */
    flex-direction: row;
}
#more_playlist #Array_artists .artist {
    /* border: solid red 2px; */
    width: fit-content;
    padding: 20px;
    margin: 30px;
    background-color: rgba(255, 255, 255, 0.087);
    border-radius: 10px;
    transition: all 1s cubic-bezier(.215, .61, .355, 1);

}

#more_playlist #Array_artists .artist:hover img {
    /* border: solid red 2px; */
    scale: 1.05;
}
#more_playlist #Array_artists .artist:hover {
    /* border: solid red 2px; */
    scale: 1.1;
    opacity: 100%;
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
}


