#prima_section {
    height: 100vh;
}
#prima_section img {
    width: 50%;
}

.CircleMouse {
    position: absolute;
    width: 20px;
    height: 20px;

    border-radius: 50%;
    z-index: 0;

    background-color: white;
    mix-blend-mode: difference;
}
a:hover .CircleMouse,
h1:hover .CircleMouse {
    width: 10px;
} 


h1, a, iframe {
    z-index: 1;
    position: relative;
}
.section-white {
    z-index: -1;
}
.section-black {
    z-index: -1;
}

* {
    cursor: none;
    scroll-behavior: smooth;
}