:root{
    --main-color-black: rgb(0, 0, 0);
    --main-color-gray: rgb(24, 24, 24);
    --main-color-white: rgb(255, 255, 255);
    --main-text-color-white: white;
    --main-font: 'Oswald', sans-serif;
}


html{
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
    width: 12px; /* Larghezza della scrollbar */
  }
  
  /* Stile del thumb (il "manico" della scrollbar) */
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Colore del thumb */
    border-radius: 6px; /* Bordi arrotondati del thumb */
  }
  
  /* Cambia colore quando il mouse è sopra la scrollbar */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }



